---
const agenda = [
  {
    date: "27 listopada",
    lectures: [
      { 
        time: "tbd", 
        title: "TBD", 
        description: "TBD", 
        slot: 1
      },
      { 
        time: "tbd", 
        title: "TBD", 
        description: "TBD", 
        slot: 2
      },
      { 
        time: "tbd", 
        title: "TBD", 
        description: "TBD", 
        slot: 3
      },
      { 
        time: "tbd", 
        title: "TBD", 
        description: "TBD", 
        slot: 4
      }
    ],
    workshops: [
      { 
        time: "tbd", 
        title: "TBD", 
        description: "TBD", 
        slot: 1
      },
      { 
        time: "tbd", 
        title: "TBD", 
        description: "TBD", 
        slot: 4
      },
    ],
    totalSlots: 4
  },
  {
    date: "28 listopada",
    lectures: [
      { 
        time: "tbd", 
        title: "TBD", 
        description: "TBD", 
        slot: 1
      },
      { 
        time: "tbd", 
        title: "TBD", 
        description: "TBD", 
        slot: 2
      },
      { 
        time: "tbd", 
        title: "TBD", 
        description: "TBD", 
        slot: 3
      },
      { 
        time: "tbd", 
        title: "TBD", 
        description: "TBD", 
        slot: 4
      },
    ],
    workshops: [
      { 
        time: "tbd", 
        title: "TBD", 
        description: "TBD", 
        slot: 1
      },
    ],
    totalSlots: 4
  },
  {
    date: "29 listopada",
    lectures: [
      { 
        time: "tbd", 
        title: "TBD", 
        description: "TBD", 
        slot: 1
      },
      { 
        time: "tbd", 
        title: "TBD", 
        description: "TBD", 
        slot: 2
      },
      { 
        time: "tbd", 
        title: "TBD", 
        description: "TBD", 
        slot: 3
      },
      { 
        time: "tbd", 
        title: "TBD", 
        description: "TBD", 
        slot: 4
      },
    ],
    workshops: [
      { 
        time: "tbd", 
        title: "TBD", 
        description: "TBD", 
        slot: 1
      },
    ],
    totalSlots: 6
  },
];
---

<section id="agenda" class="py-16 sm:py-20">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-2 gap-4" style="grid-template-rows: repeat(20, auto);">
      <h2 class="col-span-2 text-4xl font-medium tracking-tight sm:text-5xl text-center">Agenda Konferencji</h2>
      <p class="col-span-2 text-primary text-base sm:text-lg text-center mb-8">
        Zapoznaj się z naszym harmonogramem wykładów, warsztatów i możliwości networkingowych.
      </p>
      <h3 class="text-2xl font-semibold text-secondary text-center">Wykłady i Panele</h3>
      <h3 class="text-2xl font-semibold text-secondary text-center">Warsztaty</h3>

      {agenda.map((day, dayIndex) => (
        <>
          <h4 class="col-span-2 text-xl font-semibold text-center py-4 text-text">{day.date}</h4>
          <div class="grid grid-rows-{day.totalSlots} gap-2">
            {Array.from({ length: day.totalSlots }).map((_, slotIndex) => (
              <div class="bg-offset rounded-lg p-4 m-1">
                {day.lectures.find(lecture => lecture.slot === slotIndex + 1) && (
                  <div class="cursor-pointer" onclick={`toggleDescription('lecture-${dayIndex}-${slotIndex}')`}>
                    <div class="text-sm font-medium text-primary">{day.lectures.find(lecture => lecture.slot === slotIndex + 1).time}</div>
                    <div class="font-medium text-text">{day.lectures.find(lecture => lecture.slot === slotIndex + 1).title}</div>
                    <div id={`lecture-${dayIndex}-${slotIndex}`} class="mt-2 text-sm hidden text-text-offset">
                      {day.lectures.find(lecture => lecture.slot === slotIndex + 1).description}
                    </div>
                  </div>
                )}
              </div>
            ))}
          </div>
          <div class="grid grid-rows-{day.totalSlots} gap-2">
            {Array.from({ length: day.totalSlots }).map((_, slotIndex) => (
              <div class="bg-offset rounded-lg p-4 m-1">
                {day.workshops.find(workshop => workshop.slot === slotIndex + 1) && (
                  <div class="cursor-pointer" onclick={`toggleDescription('workshop-${dayIndex}-${slotIndex}')`}>
                    <div class="text-sm font-medium text-primary">{day.workshops.find(workshop => workshop.slot === slotIndex + 1).time}</div>
                    <div class="font-medium text-text">{day.workshops.find(workshop => workshop.slot === slotIndex + 1).title}</div>
                    <div id={`workshop-${dayIndex}-${slotIndex}`} class="mt-2 text-sm hidden text-text-offset">
                      {day.workshops.find(workshop => workshop.slot === slotIndex + 1).description}
                    </div>
                  </div>
                )}
              </div>
            ))}
          </div>
        </>
      ))}
    </div>
  </div>
</section>

<script>
  function toggleDescription(id) {
    const description = document.getElementById(id);
    if (description) {
      description.classList.toggle('hidden');
    }
  }
</script>